html, body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #FAFAFA; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: #FAFAFA; }

::-webkit-scrollbar-thumb {
  background: #000A14; }

::-webkit-scrollbar-thumb:hover {
  background: #999; }

.wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1600px; }

.head {
  position: relative;
  font-size: 1.4em;
  font-style: italic;
  text-align: center; }

.headB {
  margin-top: 144px;
  display: block;
  width: 100%;
  position: relative;
  font-size: 2.4em;
  font-style: italic;
  text-align: center; }

.headS {
  display: block;
  width: 100%;
  position: relative;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  color: #999; }

.intro {
  width: 100%;
  height: 1280px;
  padding-top: 256px; }
  .intro .welcomeText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4em;
    line-height: 1.7em;
    color: #999; }
    .intro .welcomeText #logo {
      color: #000A14; }
    .intro .welcomeText #readOut {
      text-decoration: none;
      color: #FF5722;
      border-bottom: 2px solid #FF5722;
      transition: 0.4s; }
      .intro .welcomeText #readOut:hover {
        animation: readMore 0.4s; }
  .intro #showreelText {
    display: block;
    right: 200px;
    margin-top: 22px;
    width: 100%;
    position: relative;
    font-size: 0.88em;
    font-style: italic;
    text-align: right;
    color: #999; }
    .intro #showreelText a {
      text-decoration: none;
      color: #FF5722;
      border-bottom: 2px solid #FF5722;
      transition: 0.4s; }
      .intro #showreelText a:hover {
        animation: readMore 0.4s; }
  .intro #showreel {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 680px;
    border: 1px solid #BBB;
    margin-top: 520px;
    background-image: url(../images/introImg-low.jpg);
    background-position: center;
    background-size: 132%;
    background-repeat: no-repeat; }
    .intro #showreel #playLink {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: 0.3s; }
      .intro #showreel #playLink:hover {
        transition: 0.3s;
        cursor: pointer;
        opacity: 1; }
      .intro #showreel #playLink #playButton {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 64px;
        width: 64px;
        background-image: url(../images/playButton.png);
        background-size: cover; }

.characters {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;
  letter-spacing: 0.16em;
  height: 640px; }
  .characters .prev {
    position: absolute;
    top: 32%;
    left: 10%;
    background-image: url("../images/prev.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: center;
    width: 228px;
    height: 444px;
    transition: 0.3s;
    opacity: 0.2; }
    .characters .prev:hover {
      cursor: pointer;
      transition: 0.3s;
      margin-left: -14px; }
  .characters .next {
    position: absolute;
    top: 32%;
    right: 10%;
    background-image: url("../images/next.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: center;
    width: 228px;
    height: 444px;
    transition: 0.3s; }
    .characters .next:hover {
      cursor: pointer;
      transition: 0.3s;
      margin-right: -14px; }
  .characters .characters-ul {
    margin-top: 128px;
    display: inline-block;
    padding-left: 0px;
    margin-left: -40px;
    list-style: none; }
    .characters .characters-ul .characters-li {
      display: inline-block;
      list-style: none;
      width: 286px;
      height: 440px;
      padding-left: 32px;
      padding-bottom: 12px;
      text-align: left;
      margin-left: 40px;
      margin-bottom: 60px; }
      .characters .characters-ul .characters-li:hover {
        cursor: pointer; }
      .characters .characters-ul .characters-li .charactersName {
        position: absolute;
        margin-top: 364px;
        font-size: 1.3em;
        color: #FAFAFA; }
      .characters .characters-ul .characters-li .charactersCY {
        position: absolute;
        margin-top: 372px;
        font-size: 0.88em;
        color: #999;
        line-height: 2.66em; }

.websites {
  position: relative;
  padding-top: 56px;
  padding-bottom: 472px;
  text-align: center;
  letter-spacing: 0.16em;
  height: 640px; }
  .websites .prev {
    position: absolute;
    top: 38%;
    left: 10%;
    background-image: url("../images/prev.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: center;
    width: 228px;
    height: 444px;
    transition: 0.3s;
    opacity: 0.2; }
    .websites .prev:hover {
      cursor: pointer;
      transition: 0.3s;
      margin-left: -14px; }
  .websites .next {
    position: absolute;
    top: 38%;
    right: 10%;
    background-image: url("../images/next.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: center;
    width: 228px;
    height: 444px;
    transition: 0.3s; }
    .websites .next:hover {
      cursor: pointer;
      transition: 0.3s;
      margin-right: -14px; }
  .websites .websites-ul {
    margin-top: 128px;
    display: inline-block;
    padding-left: 0px;
    margin-left: -40px;
    list-style: none; }
    .websites .websites-ul .websites-li {
      display: inline-block;
      list-style: none;
      text-align: center;
      margin-left: 40px;
      margin-bottom: 256px;
      width: 336px; }
      .websites .websites-ul .websites-li .websitesLogo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 72px;
        width: 72px; }
      .websites .websites-ul .websites-li .websitesImg {
        position: relative;
        top: 96px;
        width: 336px;
        height: 466px; }
        .websites .websites-ul .websites-li .websitesImg:hover {
          cursor: pointer; }
      .websites .websites-ul .websites-li .websitesName {
        position: relative;
        top: 58px;
        font-size: 1.3em;
        color: #000A14; }
      .websites .websites-ul .websites-li .websitesCY {
        position: relative;
        top: 58px;
        font-size: 0.88em;
        color: #999;
        line-height: 3em; }
      .websites .websites-ul .websites-li .websitesLinks0 {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 66px;
        width: 186px;
        top: 128px; }
      .websites .websites-ul .websites-li .websitesLinks1 {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 66px;
        width: 186px;
        top: 144px; }

.games {
  position: relative;
  padding-top: 56px;
  padding-bottom: 532px;
  text-align: center;
  letter-spacing: 0.16em; }
  .games .prev {
    position: absolute;
    top: 32%;
    left: 10%;
    background-image: url("../images/prev.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: center;
    width: 228px;
    height: 444px;
    transition: 0.3s;
    opacity: 0.2; }
    .games .prev:hover {
      cursor: pointer;
      transition: 0.3s;
      margin-left: -14px; }
  .games .next {
    position: absolute;
    top: 32%;
    right: 10%;
    background-image: url("../images/next.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: center;
    width: 228px;
    height: 444px;
    transition: 0.3s;
    opacity: 0.2; }
    .games .next:hover {
      cursor: pointer;
      transition: 0.3s;
      margin-right: -14px; }
  .games .games-ul {
    margin-top: 128px;
    height: 640px;
    display: inline-block;
    padding-left: 0px;
    margin-left: -40px;
    list-style: none; }
    .games .games-ul .games-li {
      display: inline-block;
      list-style: none;
      text-align: center;
      margin-left: 40px;
      margin-bottom: 256px;
      width: 336px; }
      .games .games-ul .games-li .gamesLogo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 84px;
        width: 84px; }
      .games .games-ul .games-li .gamesImg {
        position: relative;
        top: 96px;
        width: 336px;
        height: 466px; }
        .games .games-ul .games-li .gamesImg:hover {
          cursor: pointer; }
      .games .games-ul .games-li .gamesName {
        position: relative;
        top: 58px;
        font-size: 1.5em;
        color: #000A14; }
      .games .games-ul .games-li .gamesCY {
        position: relative;
        top: 58px;
        font-size: 1em;
        color: #999;
        line-height: 3em; }
      .games .games-ul .games-li .gamesLinks0 {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 66px;
        width: 186px;
        top: 128px; }
      .games .games-ul .games-li .gamesLinks1 {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 66px;
        width: 186px;
        top: 132px; }

.outro {
  padding-top: 86px;
  padding-bottom: 86px;
  text-align: center; }

@keyframes readMore {
  0% {
    border-bottom-color: #FAFAFA;
    padding-bottom: 10px; }
  50% {
    border-bottom-color: #FAFAFA;
    padding-bottom: 5px; }
  100% {
    border-bottom-color: #FF5722;
    padding-bottom: 0px; } }

/*# sourceMappingURL=portfolio.css.map */
