<!DOCTYPE html>

<html lang="en" ng-app="portfolio">

  <head>
    <title>Berke Kiran</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Search Engines -->
    <meta name="description" content="Portfolio of Berke Kiran.">
    <meta name="keywords" content="Berke, Kiran, Berke Kiran, digital, web design, 3d character, graphic, designer, design, 3d character artist, web design, user experience, front-end developer">
    <meta name="author" content="Berke Kiran">
    <!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Androclass -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Androclass Tab Color -->
    <meta name="theme-color" content="#0d1114">
    <!-- External -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/portfolio.css">
    <script src="js/portfolio.js"></script>
    <script src="js/characters.js"></script>
    <script src="js/games.js"></script>
    <script src="js/websites.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Roboto:400,400i,700" rel="stylesheet">
    <!--Favicons-->
  </head>

  <body>
    <section class="wrapper">

      <section class="intro">
        <p class="welcomeText">
          Hi, I am <span id="logo">Berke Kiran</span>. I am a self-taught 3d <br>
          character artist and front-end developer from<br>
          canakkale, turkey. I am specialized in creating <br>
          3d characters for cinematics, feature film and <br>
          games. I love to create dynamic, responsive <br>
          websites & apps.<br><br>
          If you have a project you'd like to discuss, <br>
          feel free to <a href="mailto:berkekiranofficial@hotmail.com?Subject=Hi Berke!" id="readOut">reach out</a>.
        </p>
        <div id="showreel">
          <div id="playLink">
            <div id="playButton"></div>
          </div>
        </div>
        <span id="showreelText">© 2018 Showreel, Berke Kiran <a href="#">Vimeo</a></span><br>
      </section>
      <span class="headB">WHAT I DID ?</span><br>
      <span class="headS">I love to create somethings never created.</span><br>
      <section class="characters">
        <span class="head">CHARACTERS</span><br>
        <div class="prev"></div><div class="next"></div>
        <ul class="characters-ul" ng-controller="charactersController as ocharacters">
          <li ng-style="{{elem.Image}}" class="characters-li" ng-repeat="elem in ocharacters.character | limitTo:ocharacters.limit">
            <span class="charactersName">{{elem.ProjectName}}</span><br>
            <span class="charactersCY">
              <span class="charactersCategory">{{elem.Category}}</span>, <span class="charactersYear">{{elem.Year}}</span>
            </span>
          </li>
        </ul>
      </section>

      <section class="websites">
        <span class="head">WEBSITES</span><br>
        <div class="prev"></div><div class="next"></div>
        <ul class="websites-ul" ng-controller="websitesController as owebsites">
            <li class="websites-li" ng-repeat="elem in owebsites.website | limitTo:owebsites.limit">
              <div ng-style="{{elem.Logo}}" class="websitesLogo"></div>
              <span class="websitesName">{{elem.ProjectName}}</span><br>
              <span class="websitesCY">
                <span class="websitesCategory">{{elem.Category}}</span>, <span class="charactersYear">{{elem.Year}}</span>
              </span>
              <div ng-style="{{elem.Image}}" class="websitesImg"></div>
              <a ng-style="{{elem.Link0Image}}" ng-href="{{elem.Link0}}" class="websitesLinks0"></a>
              <a ng-style="{{elem.Link1Image}}" ng-href="{{elem.Link1}}"  class="websitesLinks1"></a>
            </li>
          </ul>
        </section>

        <section class="games">
          <span class="head">GAMES</span><br>
          <div class="prev"></div><div class="next"></div>
          <ul class="games-ul" ng-controller="gamesController as ogames">
              <li class="games-li" ng-repeat="elem in ogames.game | limitTo:ogames.limit">
                <div ng-style="{{elem.Logo}}" class="gamesLogo"></div>
                <span class="gamesName">{{elem.ProjectName}}</span><br>
                <span class="gamesCY">
                  <span class="gamesCategory">{{elem.Category}}</span>, <span class="charactersYear">{{elem.Year}}</span>
                </span>
                <div ng-style="{{elem.Image}}" class="gamesImg"></div>
                <a ng-style="{{elem.Link0Image}}" ng-href="{{elem.Link0}}" class="gamesLinks0"></a>
                <a ng-style="{{elem.Link1Image}}" ng-href="{{elem.Link1}}" class="gamesLinks1"></a>
              </li></ul>
          </section>

          <section class="outro">
            <span>© 2018 Berke Kiran</span>
          </section>
    </section>

  </body>

</html>
